html, body {
    height : 100%;
}

h2 {
    font-size: 30px;
    font-family: Arial Black;
}

h3 {
    font-size: 35px;
    font-family: Arial Black;
}

.Footer {
    background-color: #c8dcf5;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 10px;
}

.MyHand {
    background-color: #c8dcf5;
    overflow:auto;
    height: 250px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 40px;
}

.CardsArea {
    background-color: #c8dcf5;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 40px;
    width: 660px;
    height: 100%;
    float:left;
}

.CardsRow {
    width: 100%;
    height: 100%;
}

.SingleCard_in_MyHand {
    width: 90px;
    height: 130px;
    float: left;
    background-position: center;
    background-size:  80px auto;
    background-repeat:no-repeat;
    margin: 0 auto;
    
}
.SingleCard_in_CardsArea {
    width: 90px;
    height: 130px;
    float: left;
    background-position: center;
    background-size:  80px auto;
    background-repeat:no-repeat;
    margin: 0 auto;
    
}

.PlayerSeats {
    background-color: #c8dcf5;
    padding: 40px;
    width: 1000px;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    float:left;
}

.Self {
    width: 100%;
    height: 50%;
    float: left;
}


#WhiteCard {
    background-image: url(whitecard.png);
}

.WhiteCardNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        2px 2px 2px black;
    text-align:center;
    line-height: 130px;
}

#BlueCard {
    background-image: url(bluecard.png);
}
.BlueCardNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 130px;
    text-align: center;
    color: #efff68;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        2px 2px 2px black;
}

#YellowCard {
    background-image: url(yellowcard.png);
    
}

.YellowCardNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 130px;
    text-align: center;
    color: #88c2e5;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        2px 2px 2px black;
    text-align:center;
}


#RedCard {
    background-image: url(redcard.png);
    
}
.RedCardNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    line-height:130px;
    color: #f8c959;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        2px 2px 2px black;
    
}

#PurpleCard {
    background-image: url(purplecard.png);
}
.PurpleCardNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #efff68;
    text-align: center;
    line-height: 130px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        2px 2px 2px black;
}


p {
    font-family: fantasy;
    margin-top: 10px;
    font-size: 30px;
    color: #000;
}
h1 {
    color: #000;
    font-family: fantasy;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
}

.StartGame {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    text-align: center;
}

.GoBack {
    margin-left: 50px;
    margin-right: 50px;
}

#LobbyRoom {
    margin-top: 20px;
    display: block;
    margin: auto;
}

.SingleCard_in_MyHand:hover {
    transform : scale(1.1);
}
.SingleCard_in_MyHand:active {
    opacity: 0.8;
}
.SingleCard_in_MyHand_clicked {
    width: 90px;
    height: 130px;
    float: left;
    background-position: center;
    background-size:  80px auto;
    background-repeat:no-repeat;
    margin: 0 auto;
    transform : scale(1.1);
}

*{
    font-family: 'Futura';
}
.modal{
    z-index: 1;
    margin: 0 auto;
    height: 50%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modalWrapper{
    height: 75%;
    margin-top: 150px;
}
.modalContent{
    margin: auto 20%;
    justify-content: center;
    text-align: center;
    height: 50%;
    width: auto;
    padding: auto;
    background-color: lightblue;
    border-radius: 25px;
    
}
.modalResult{
    color: #0f0f4b;
    width: 100%;
    margin: auto;
    font-size: 50px;
    font-weight: 700;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalBtnWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.modalBtn{
    background-color: #0f0f4b;
    color: lightblue;
    border: 3px solid transparent;
    font-size: 25px;
    font-weight: 300;
    border-radius: 25px;
    height: 60%;
    width: 50%;
    margin: auto 5% ;
    

    display: flex;
    align-items: center;
    justify-content: center;
}
.modalBtn:hover{
    cursor: pointer;
    color: #0f0f4b;
    background-color: lightblue;
    border: 3px solid #0f0f4b;
}

.PlayersBoard {
    text-align: center;
}

#Space {
    background-image: url(space.png);
}